/* SMALL ICONS */

/* navbar icons */
/* title.blade.php */
/* post/show.blade.php */
/* Suggestions in homepage */
/* following.blade.php */
/* followrs.blade.php */
.icon-sm {
    font-size: 2rem;
}

/* delete post (modal) */
/* admin/posts/index.blade.php */
/* hide post(modal) */

.image-lg {
    width: 9rem;
    height: 9rem;
    object-fit: cover;
}

/* Like button */
.fa-heart {
    font-size: 1.5rem;
}

/* extra small font */
.xsmall {
    font-size: 0.65rem;
}

/* LARGE */
.icon-lg {
    font-size: 9rem;
}

/* Profile page grid image */
.grid-img {
    width: 100%;
    height: 300px;
    /* Height is not dynamic. Optimized for widescreen */
    object-fit: cover;
}

.avatar-lg {
    width: 9rem;
    height: 9rem;
    object-fit: cover;
}

.avatar-sm {
    width: 2rem;
    height: 2rem;
    object-fit: cover;
}

/* MEDIUM */
.avatar-md {
    width: 3.5rem;
    height: 3.5rem;
    object-fit: cover;
}

.icon-md {
    font-size: 3.5rem;
}